{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	<section id="{{ sectionno }}" class="section rafelrand bottom orange pb-lead bg-orange text-dark">
		{% if options.dossiers_archief_icoon %}
		<div class="section_icon bottom"> <img src="{{ Image(options.dossiers_archief_icoon).src }}" alt="{{ Image(options.dossiers_archief_icoon).src }}"> </div>
		{% endif %}
		<div class="container-fluid" style="max-width: 1500px">
			{% if options.dossiers_archief_titel %}
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="text-center">
						<h2 class="mb-0"> {{ options.dossiers_archief_titel }} </h2>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	<section class="mod-archive pb-0">
		<div class="container-fluid" style="max-width: 1500px">
			{% if options.dossiers_archief_actueel_titel or options.dossiers_archief_tekst %}
				<div class="text-center mb-5">
					<h2 class="font-script text-orange mb-3">{{ options.dossiers_archief_actueel_titel }}</h2>
	
					<div class="row" style="max-width: 1024px; margin: 0 auto">
						<div class="col-lg-10 offset-lg-1">
							<div class="text-center">
								{{ options.dossiers_archief_tekst }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<div id="theposts" class="row justify-content-center pt-2 g-5">
				{% for item in terms %}
				<div class="col-md-6 col-lg-4 col-xl-3">
					{% include ['tease-dossiers.twig'] %}
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</article>
{% endblock %}