{% block html_head_container %}
	{% block head %}
		{% include 'html-header.twig' %}
	{% endblock %}
{% endblock %}

	<body class="{{ body_class }} {% if post.header_transparant %}pt-0{% endif %}" data-template="base.twig">	
		
		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}
		
		{% if options.sticky_knop_url %}
			{% if not post.verberg_sticky_knop %}
			<a href="{{ options.sticky_knop_url.url }}" target="{{ options.sticky_knop_url.target }}" class="stickybutton">
				
			</a>
			{% endif %}
		{% endif %}
		
		<main>
			{% if post.title %}
				<h1 class="d-none">{{ post.title }}</h1>
			{% endif %}
			{% block content %}
				Sorry, no content
			{% endblock %}
		
		
		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		</main>
	</body>
</html>
