{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class="pb-banner d-flex align-items-center text-white rafelrand bottom inverse white">		
			<div class="fill-space">
				<div class="bg-cover" style="background-image: url({{ Image(post.thumbnail).src|resize(1920) }})">
				</div>
			</div>
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-10 col-md-8 col-lg-6 col-xl-5">
						<h2 class="h1 mb-5">
							{{ post.title }}
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt-3 mb-3 mt-md-5 mb-md-5">
			<div class="content-columns content-styling mb-5">
				{{ post.content }}
			</div>
			{% set terms = post.terms('dossier_tags') %}
			
			{% if terms %}
				
				{% for term in terms %}
					<a href="{{ term.link }}" class="bg-frame-label">{{ term.name }}</a>
				{% endfor %}
	
			{% endif %}
			<br>
			
			<a href="/dossiers" class="btn-link-back-dark"> Overzicht </a>
		</div>
	</article>
{% endblock %}
