{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	<section id="section1" class="section rafelrand bottom orange pb-lead bg-orange text-dark mb-5">
		{% if options.dossiers_archief_icoon %}
		<div class="section_icon bottom"> <img src="{{ Image(options.dossiers_archief_icoon).src }}" alt="{{ Image(options.dossiers_archief_icoon).src }}"> </div>
		{% endif %}
		<div class="container-fluid mb-1 mb-md-2">
			{% if term.titel %}
			<div class="row">
				<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
					<div class="text-center">
						<h2 class="mb-0"> {{ term.titel }} </h2>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		<a href="{{ options.dossiers_overzicht.url }}" class="button-links btn-link-back-light"> <span class="d-none d-md-block">{{ options.dossiers_overzicht.title }} </span></a>

		<div class="button-rechts d-flex align-items-center"> {% include 'partial/share.twig' %} </div>

	</section>
	<section id="section2" class="mod-archive">
		<div class="container-fluid">
			<div class="row mb-4">
				<div class="col-md-10 offset-md-1">
					<div class="text-center mb-5">
						{{ term.description }}
					</div>
				</div>
			</div>
			{% if options.tijdlijn_titel or options.tijdlijn_link %}
				<div class="row">
					<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 col-lg-6 offset-md-3 offset-lg-3 col-xl-4 offset-xl-4">
						<div class="text-center mb-5">
							<h3 class="mt-md-3 mb-md-5"> {{ options.tijdlijn_titel }} </h3>
							{% if options.tijdlijn_link %}
							<a class="btn-link mt-0" href="#footer">{{ options.tijdlijn_link }}</a>
							{% endif %}
							<br><br>
						</div>
					</div>
				</div>
			{% endif %}
			<div id="theposts" class="g-5">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
						{% set year = '' %}

						{% for item in posts %}
							{% if year == item.post_date|date('Y') %}
						{% else %}
							{% set year = item.post_date|date('Y') %}
							<div class="text-center mb-30 mb-md-0">
								<div class="bg-frame-year"> {{ year }} </div>
								<img class="dots" src="{{ theme.link }}/assets/img/threeblackdots.svg" alt="dots">
							</div>
						{% endif %}
						
						{% include ['tease-artikel.twig'] %}
						{% endfor %}
					</div>
				</div>
				<a href="#section1" class="section_icon"> <img src="{{ theme.link }}/assets/img/icon_section_up.svg"> </a>
			</div>
		</div>
		<br><br><br><div class="d-none d-md-block"><br><br><br></div>
	</section>
</article>
{% endblock %}