<a href="{{ item.link }}" target="{{ item.link.target}}" class="tease tease-{{ item.post_type }} mb-20 d-block">
	<div class="afbeelding-wrapper ratio-4x3">
		<div class="afbeelding bg-cover" style="background-image: url({{ Image(item.thumbnail)|resize(1024) }})"></div>
	</div>
	<h3 class="h4 mt-3 mb-0"> {{ item.title }} </h3>
	{{ item.excerpt }}
	<div class="btn-link mt-3" href="{{ item.link.url }}" target="{{ item.link.target }}">Duik dieper</div>
</a>