<a {% if not item.geen_link %}href="{% if item.link_extern %}{{ item.link_extern }}{% else %}{{ item.link }}{% endif %}" target="{% if item.link_extern %}_blank{% else %}{{ item.link.target}}{% endif %}"{% endif %} class="tease tease-artikel mb-30 d-block">
	<div class="row g-5 mb-4">
		<div class="col-md-6 d-flex flex-column">
			<div class="row g-0">
				<div class="col-auto">
					<div class="bg-frame-label">
						{{ item.label }}
					</div>
				</div>
				{% if not item.geen_link %}
				<div class="col-auto">
					{% set auteur = Post(item.writer) %}
					{% if auteur %}
						<div class="auteur" style="background-image: url('{{ Image(auteur.thumbnail).src }}')"></div>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<h3 class="h4 mt-0 mt-md-4 mb-2"> {{ item.title }} </h3>
			<div class="h5 mb-3 mb-md-0 font-alt text-orange mt-auto">{{ item.post_date|date('d-m-Y') }}{% if item.link_extern %} - {{ options.dossiers_externe_publicatie }}{% endif %}</div>
		</div>
		<div class="col-md-6">
			<div class="afbeelding-wrapper ratio-16x9">
				<div class="afbeelding bg-cover" style="background-image: url({{ Image(item.thumbnail)|resize(1024) }})"></div>
			</div>
		</div>
	</div>
	<img class="dots" src="{{ theme.link }}/assets/img/threeblackdots.svg" alt="dots">
</a>