<a href="{% if item.type == 'url' %}{{ item.url }}{% else %}{{ item.bestand.src }}{% endif %}" target="_blank" class="tease tease-onderzoeken text-start mb-5 d-block">
	<div class="afbeelding-wrapper ratio-4x3">
		<div class="afbeelding bg-cover" style="background-image: url({{ item.thumbnail.src }})"></div>
	</div>
	<div data-mh>
		<h3 class="h4 mt-4 mb-4"> 
			<strong>{{ item.title }} </strong> <br>
			{{ item.subtitel }} 
		</h3>
		<div class="mb-4 font-alt text-sm">
			<div class="row">
				<div class="col d-flex align-items-center">
					<div>
						{{ options.onderzoeken_publication_date }}: <span class="text-orange">{{ item.post_date|date('d-m-Y') }}</span>
					</div>
				</div>
			</div>
		</div>
	
		{{ item.tekst }}
	</div>
	<div class="btn-link mt-4" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ options.onderzoeken_teaser_lees_verder }}</div>
</a>