<a {% if item.type_link != 'link_geen' %}href="{% if item.type_link == 'link_extern' %}{{ item.link_extern }}{% elseif item.type_link == 'link_bestand' %}{% set file = item.get_field('link_bestand') %}{% if file %}{{ file.url }}{% endif %}{% else %}{{ item.link }}{% endif %}" target="{% if item.type_link == 'link_extern' or item.type_link == 'link_bestand' %}_blank{% else %}{{ item.link.target }}{% endif %}"{% endif %} class="tease tease-artikel mb-30 d-block">
	<div class="row g-5 mb-4">
		<div class="col-md-6 d-flex flex-column">
			<div class="row g-0">
				<div class="col-auto">
					<div class="bg-frame-label">
						{% if item.mee_bezig %}
							Mee bezig
						{% else %}
							{{ item.label }}
						{% endif %}
					</div>
				</div>
				{% if item.type_link != 'link_geen' %}
				<div class="col-auto">
					{% set auteur = Post(item.writer|first) %}
					{% if auteur %}
						<div class="auteur" style="background-image: url('{{ Image(auteur.thumbnail).src }}')"></div>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<h3 class="h5 mt-0 mb-2"> {{ item.title }} </h3>
			<div class="h5 mb-3 mb-md-0 font-alt text-orange mt-auto">{% if item.mee_bezig %}{% else %}{{ item.post_date|date('d-m-Y') }}{% endif %}{% if item.type_link == 'link_extern' %} - {{ options.dossiers_externe_publicatie }}{% endif %}</div>
		</div>
		<div class="col-md-6">
			<div class="afbeelding-wrapper ratio-16x9">
				<div class="afbeelding bg-cover" style="background-image: url({{ Image(item.thumbnail)|resize(1024) }})"></div>
			</div>
		</div>
	</div>
	<img class="dots" src="{{ theme.link }}/assets/img/threeblackdots.svg" alt="dots">
</a>