<a {% if item.type_link != 'link_geen' %}href="{% if item.type_link == 'link_extern' %}{{ item.link_extern }}{% elseif item.type_link == 'link_bestand' %}{% set file = item.get_field('link_bestand') %}{% if file %}{{ file.url }}{% endif %}{% else %}{{ item.link }}{% endif %}" target="{% if item.type_link == 'link_extern' or item.type_link == 'link_bestand' %}_blank{% else %}{{ item.link.target }}{% endif %}"{% endif %} class="tease tease-onderzoeken text-start mb-5 d-block">
	<div class="afbeelding-wrapper ratio-4x3">
		<div class="afbeelding bg-cover" style="background-image: url({{ item.thumbnail.src }})"></div>
	</div>
	<div data-mh>
		<h3 class="h4 mt-4 mb-4"> 
			<strong>{{ item.title }} </strong> <br>
			{{ item.subtitel }} 
		</h3>
		<div class="mb-4 font-alt text-sm">
			<div class="row">
				<div class="col d-flex align-items-center">
					<div>
						{{ options.onderzoeken_publication_date }}: <span class="text-orange">{{ item.post_date|date('d-m-Y') }}</span>
					</div>
				</div>
			</div>
		</div>
	
		{{ item.samenvatting }}
	</div>
	<div href="" class="btn-link mt-4">{{ options.onderzoeken_teaser_lees_verder }}</div>
</a>