<section id="banner" class="pb-banner text-white rafelrand bottom inverse white">
	<a href="#section2" class="section_icon bottom"> <img src="{{ theme.link }}/assets/img/icon_section_down.svg"> </a>
	<div class="bannerslider js-slick-bannerslider">
		{% for item in item.artikelen %}
			<a href="{{ item.link }}" class="item d-flex align-items-center">		
				<div class="fill-space">
					<div class="bg-cover" style="background-image: url({{ Image(item.thumbnail).src|resize(1920) }})">
					</div>
				</div>
				
				<div class="container-fluid">
					<div class="row">
						<div class="col-10 col-md-8 col-lg-6 col-xl-5">
							<h2 class="h1 mb-5">
								‘{{ item.quote }}’ <img class="d-inline d-md-none" src="{{ theme.link }}/assets/img/icon_arrow_orange.svg" alt="arrow">
							</h2>
							<div class="row d-none d-md-flex">
								<div class="col-auto">
									<img src="{{ theme.link }}/assets/img/icon_held.svg" alt="icon">
								</div>
								<div class="col">
									<h4 class="font-script">
										{{ item.link_tekst }}
									</h4>
									<img src="{{ theme.link }}/assets/img/icon_arrow_orange.svg" alt="arrow">
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</section> 