<section id="section{{ sectionno }}" class="section pb-content_vlakken bg-transparent">
	<div class="container-fluid" style="max-width: 1500px;">
		{% if item.titel %}
			<div class="row">
				<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
					<div class="text-center">
						<h2 class="mt-5 mb-5 text-orange font-script"> {{ item.titel }} </h2>
					</div>
				</div>
			</div>
			<br>
		{% endif %}
		{% if item.afbeelding %}
			<img src="{{ Image(item.afbeelding).src }}" alt="{{ Image(item.afbeelding).alt }}" class="w-100 h-auto mb-5">
		{% endif %}
		<div class="row g-0 g-lg-5 mb-lg-5 justify-content-center">
			{% for item in item.vlak %}
				<div class="col-lg">
					<div class="card {{ item.kleur }} {% if item.centreren %}text-center{% endif %} mb-5 mb-lg-0 d-flex align-items-center">
						<div class="card-body" data-mh>
							{% if item.titel %}
								<h2>{{ item.titel }}</h2>
							{% endif %}
							{{ item.tekst }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if item.link %}
			<div class="container text-center">
				<a class="btn btn-primary" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
			</div>
		{% endif %}
	</div>
</section> 