<section id="section{{ sectionno }}" class="section pb-verhalen bg-transparent">
	<div class="container-fluid" style="max-width: 1550px;">
		<div class="card bg-frame-verhalen">
			<div class="section_icon bottom"> <img src="{{ theme.link }}/assets/img/icon_section_verhalen.svg"> </div>
			<div class="card-body mb-5">
				<div class="row">
					<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
						<div class="text-center">
							<h2 class="mt-md-5 mb-3 mb-md-5 font-script text-white"> {{ item.titel }} </h2>
						</div>
					</div>
				</div>
				<br>
				<div class="content text-center">
					<div class="row">
						<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							{% if item.lead %}
								<span class="h4">{{ item.lead }}</span>
							{% endif %}
							
							{% if item.tekst %}
								<br>
								{{ item.tekst }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 