<section id="{{ sectionno }}" class="section pb-icons bg-white">
	<div class="container-fluid mt-3 mb-3 mt-md-5 mb-md-5">
		<div class="row">
			{% for item in item.iconen %}
				<div class="col-md-4 text-center mb-4 mb-md-0">
					<img src="{{ Image(item.icoon).src }}" alt="{{ Image(item.icoon).alt }}" >
					<h3>{{ item.titel }}</h3>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-10 offset-1">
				{{ item.tekst }}
				<a class="btn-link mt-3 mt-md-5" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
			</div>
		</div>
	</div>
</section> 