<section id="section{{ sectionno }}" class="section pb-impact bg-transparent">
	<div class="container-fluid mt-5">
		<div class="text-center">
			<h2 class="mb-5 font-script text-orange"> {{ item.titel }} </h2>
		</div>
		<br>
		<div class="row justify-content-center" style="max-width: 1500px; margin: 0 auto">
			{% for item in item.cijfers %}
				<div class="col-md-6 col-lg-3 mb-30 mb-lg-0">
					{% if item.link %}
						<a href="{{ item.link.url }}" target="{{ item.link.target }}" class="d-block">
					{% endif %}
					<div class="card bg-square-dark">
						<div class="card-body text-center d-flex align-items-center justify-content-center">
							<div data-mh>
								<h2 class="mb-2 font-script text-orange">{{ item.cijfer }}</h2>
								<h3 class="h5 mb-0 mt-0">{{ item.tekst }}</h3>
							</div>
						</div>
					</div>
					{% if item.link %}
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container text-center">
		<div class="row">
			<div class="col-10 offset-1">
				<a class="btn-link mt-3 mt-md-5" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
			</div>
		</div>
	</div>
</section> 