<section id="section{{ sectionno }}" class="section pb-verhalen pb-0">
	<div class="container-fluid">
		<div class="card bg-frame-verhalen">
			<div class="section_icon top"> <img src="{{ Image(options.verhalen_archief_icoon).src }}" alt="{{ Image(options.verhalen_archief_icoon).src }}"> </div>
			<div class="card-body mb-5">
				<div class="row">
					<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
						<div class="text-center">
							<h2 class="mt-5 mb-5"> {{ item.titel }} </h2>
						</div>
					</div>
				</div>
				{% if item.verhalen %}
					<br>
					<div class="row justify-content-center g-4 g-sm-5 md-4 g-md-5 mb-sm-2" style="max-width: 1500px; margin: 0 auto">
						{% for item in item.verhalen|shuffle %}
					  		<div class="col-6 col-lg mb-1 mb-sm-4 mb-lg-0">
								{% include 'tease-verhalen.twig' %}
								<br>
					  		</div>
						{% endfor %}
					</div>
				{% endif %}
				{% if item.link %}
					<div class="container text-center">
						<a class="btn btn-light mt-4" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section> 